<h2 class="section-title">{{ .titles.about }}</h2>


<p>  
<b>
We are continuously monitoring the COVID-19 situation with the goal of ensuring the safety of students, staff, and faculty. We are in the process of developing virtual programming in the case of a switch to online learning. The most up-to-date information will be made available here. We will be entirely virtual until otherwise noted! More information will be provided after you register. It'll still be loads of fun, and you'll still have the opportunity to walk away with a sweet t-shirt, a Raspberry pi, and tons of other goodies. 
</b>
</p> 






<p itemprop="description">  

We are a group of biologists and data scientists at Louisiana State University who are inviting you to participate in codeFests and makerSpaces. These are monthly events focused on providing a creative and educational outlet for students interested in writing code and building small hardware projects. By doing so, we aim to build interdisciplinary connections across the College of Science, foster creativity and teamwork, and provide students experience in data science. For more information on upcoming events, please see the Schedule or check us out on GitHub (<a href="https://github.com/lsuDataSci">https://github.com/lsuDataSci</a>). For more information on the data science concentration in biological sciences at LSU, please <a href="https://www.lsu.edu/science/biosci/undergraduateprogram/datascience.php"> check us out</a>!

<br/>
<br/>

makerSpaces are an opportunity for you to create, learn, explore, fail, succeed, and understand concepts in hardware construction, programming, and computing. We will use Raspberry pi microcomputers -- though let an organizer know if you'd like to do a deep dive into microcontrollers or other options -- to learn about the interface between hardware and software, by piecing together electronic components with our hands, and then programming our hardware creations to complete tasks. 

<br/>
<br/>

codeFests will allow you to develop your programming skills and challenge you to work in teams to develop predictive models, create interactive visualizations, and handle complex data structures through statistical programming languages like R or Python. 


<br/>
<br/>

</p>




<p>


</p>


